@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


body {
    margin: 0;
    padding: 0;
    height: 100%;

}

.header{
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    grid-area: header;
    background:  #341cb0;
}

.namepagina{
    color: white;
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
    font-size: 30px;   
    
}

header ul{
    align-items: center;
    margin: 0;
    display: flex;
    background-color:transparent;     
    
}


header li{
    display: inline-block;
    flex-grow: 1;
    font-weight: bold;
    color: #000029;
    padding: 10px;
    margin-right: 25px;
    font-size: 17px;
}

.form {   
    margin-left: auto;
}

.form input{
    margin: 15px;
    padding: 10px;
    width: calc(100% - 204px);
    min-width: 200px;
    border: 2px solid #ccc;
    border-radius: 6px;
}

.form button {
    font-family: 'Poppins', sans-serif; 
    background-color: #11096c;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 15px;
    width: 100px;
    padding: 10px 10px;   
    cursor: pointer;
}

.form button:hover {
    background-color:  #007bff;
}

/*==== CABEÇALHO CORRETO DAQUI PARA CIMA ====*/



/* ====== CATEGORIAS E PRODUTOS====== */
.main {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 20px;
}

.categories {
    flex: 1;
    background-color: #f2f2f2;
    padding: 50px;
    border-radius: 10px;
}

.categories h2 {
    font-size: 24px;
    margin-bottom: 10px;
    
}

.categories ul {
    list-style: none;
    padding: 0;
}

.categories li {
    margin: 5px;
    font-weight: bold;
    
}

.main{
    grid-area: main;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
 
}

.main h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}

.produtos{
    text-align: center;
}


.item{    
    display: inline-block;
    background-color: rgb(225, 237, 248);
    padding: 10px 2px;
    width: calc(33.33% - 46px);
    min-width: 200px;
    margin: 5px 10px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.item img {
    max-width: 50%;
    height: 100px}

.item h3 {
    font-family: 'Poppins', sans-serif;
    color: #000029;
    font-size: 20px;
    margin: 10px 0;
}

.item p {
    color: #000029;
    font-size: 16px;
    margin: 5px 0;
}





/*==== FOOTER CORRETO DAQUI PARA BAIXO ====*/

footer .direitos{
    background-color: #ddd;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

.footer-container {
    font-family: 'Poppins', sans-serif; 
    background-color: #ddd;
    color: #000029;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.footer-column {
    flex: 1;
    padding: 10px;
}


.footer-column a {
    text-decoration: none;
    color: #000029;
    
}

.social-icons a {
    color: #000029;
    margin: 0 10px;
    font-size: 24px;
}


.social-icons a:hover {
    color: #007bff; 
}
