@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header{
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    grid-area: header;
    background:  #341cb0;
}

.namepagina{
    color: rgb(255, 255, 255);
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
    font-size: 30px;   
    
}

header ul{
    align-items: center;
    margin: 0;
    display: flex;
    background-color:transparent;     
    
}


header li{
    display: inline-block;
    flex-grow: 1;
    font-weight: bold;
    color: #000029;
    padding: 10px;
    margin-right: 25px;
    font-size: 17px;
}

.form {   
    margin-left: auto;
}

.form input{
    margin: 15px;
    padding: 10px;
    width: calc(100% - 204px);
    min-width: 200px;
    border: 2px solid #ccc;
    border-radius: 6px;
}

.form button {
    font-family: 'Poppins', sans-serif; 
    background-color: #11096c;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 15px;
    width: 50px;
    padding: 10px 10px;   
    cursor: pointer;
}

.form button:hover {
    background-color:  #007bff;
}

#botaoentrar {
    padding: 14px;
    width: 750px;
}

#botaocadastro {
    float: right;
    padding: 10px 60px;

}

body
{
    background-color: rgb(139, 189, 255);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    width: 50%;
    margin: 40px auto;
    padding: 40px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 60px;
}

h2 {
    color: black;
    font-size: 30px;
}

p {
    color: #666;
    font-size: 16px;
}
form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

input {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 12px;
    border: 2px solid #0000003b;
    border-radius: 7px;
    margin: 8px;
}

#nome, #email, #telefone{
    flex-basis: 600px;
}

#senha, #confirmarSenha{            
    flex-basis: 250px;
}

button {
    flex-grow: 1;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    flex-basis: 100px;
    border-radius: 7px;
}

button[type="reset"]{            
    background-color: #f5b049;
}

button:hover {
    background-color: #0056b3;
}

button[type="reset"]:hover{            
    background-color: #ac7727;
}