body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

ul{
    align-items: center;
    
}

li{
    display: inline-block;
    font-weight: bold;
    color: black;
    padding: 5px;
}
